.aside {
  flex-direction: column;
  align-items: baseline;
  padding-top: 0.5em;
}

.aside,
.aside__link {
  display: flex;
  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }
  .aside-link {
    padding-left: 1.25em;
  }
}
.aside__link {
  padding: 1em;
  align-items: center;
  width: 100%;
  position: relative;
  svg {
    font-size: 1.5rem;
    color: #375f9d;
  }
  span {
    position: absolute;
    right: 10px;
  }
}
.aside__link.active {
  background-color: #d9e8ff;
  color: rgba(55, 95, 157, 0.87);
}

@media (min-width: 720px) {
  .aside {
    width: 30%;
    border-right: 1px solid #c4c4c4;
  }
}
