.navbar {
  background-color: #375f9d;
  color: white;
  padding: 1em;
  height: 4em;
}

.navbar__list,
.search,
.bookmark {
  display: flex;
  align-items: center;
}
.search {
  position: relative;
  &__icon {
    position: absolute;
    left: 2px;
    z-index: 10;
  }
  &__input {
    font-size: 1em;
    color: white;
    background-color: #19417f;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 2em;
    padding: 0 1.25em;
    width: 7em;
  }
  &__input::placeholder {
    color: #b8cae5;
    letter-spacing: 1px;
  }
}
.navbar__list {
  gap: 1em;
}

.logo {
  width: 70px;
  height: 10px;
}

.bookmark {
  gap: 0.5em;
  letter-spacing: 1px;
  &__icon {
    font-size: 1.25em;
  }
}

@media (min-width: 720px) {
  .navbar {
    padding: 1em 1.375em;
  }
  .navbar__list {
    gap: 2em;
  }
  .logo {
    width: 138px;
    height: 20px;
  }
  .search {
    &__input {
      padding: 0 3em;
      width: 18em;
    }
    &__icon {
      font-size: 1.25em;
      left: 16px;
      z-index: 10;
    }
  }
}
