.user__card {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  img {
    border-radius: 50%;
    width: 50%;
  }
}
.username {
  color: #646464;
}
.info {
  padding: 1em;
}
.repo__count {
  padding-left: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 2em;
  p {
    width: 76px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #2196f3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #2196f3;
  }
}
.repo__count--heading {
  font-size: 1.25rem;
}

@media (min-width: 720px) {
  .user {
    display: flex;
    align-items: flex-start;
    margin: 3em auto;
    justify-content: space-between;
    max-width: 1280px;
  }
  .repo__count {
    padding-left: 0;
  }
  .repo__count--heading {
    font-size: 1.5rem;
  }
  .user__card {
    width: 25%;
    align-items: flex-start;
  }
  .info {
    width: 70%;
  }
}
